.header__icons {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0 5px;
  }

  img {
    height: 50px;
    width: 50px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .react__logo {
      animation: react-logo-spin infinite 20s linear;
    }
  }

  @keyframes react-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
